/* Gregory Ecklund */
/* August 2022 */

/* ALL */
body {
    background-color: greenyellow;
}

/*TABLE */
.periodicTable {
    float: left;
}
table {
    border-spacing: 0px;
    cursor: default;
}
td {
    font-size: 16px;
    border-style: solid;
    border-color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    font-weight: bolder;
    border-width: 1px;
}
.atomicMass {
    font-size: 10px;
    margin: 0px;
}
.atomicNumber {
    font-size: 10px;
    margin: 0px;
}
.elementSymbol {
    font-size: 14px;
    margin: 0px;
}
.BLANKSPACE {
    border-color: greenyellow;
}

/* BLUE STAIRS */
#boronSquare {
    border-bottom-color: blue;
    border-bottom-width: 2px;
}
#tennessineSquare {
    border-top-color: blue;
    border-top-width: 2px;
}
#aluminiumSquare, #germaniumSquare, #antimonySquare, #poloniumSquare {
    border-right-color: blue;
    border-top-color: blue;
    border-right-width: 2px;
    border-top-width: 2px;
}
#siliconSquare, #arsenicSquare, #telluriumSquare, #astatineSquare {
    border-left-color: blue;
    border-bottom-color: blue;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

/* ELEMENT CATEGORY COLORING */
.reactiveNonMetal {
    background-color: yellow;
}
.nobleGas {
    background-color: #46BDC6
}
.postTransitionMetal {
    background-color: #999999
}
.metalloid {
    background-color: #93C47D
}
.transitionMetal {
    background-color: #EAD1DC
}
.alkaliMetal {
    background-color: #FFC90E;
}
.alkalineEarthMetal {
    background-color: #F9CB9C
}
.lanthanide {
    background-color: #d4aded
}
.actinide {
    background-color: #bd919c
}
.unknown {
    background-color: #D9D9D9
}

/* D-F BLOCK */
#lanthanumSquare, #actiniumSquare {
    border-right-color: goldenrod;
    border-right-width: 3px;
}
#ceriumSquare, #thoriumSquare {
    border-left-color: goldenrod;
    border-left-width: 6px;
}
#hafniumSquare, #rutherfordiumSquare {
    border-left-color: goldenrod;
    border-left-width: 3px;
}

/* STATE AT STP COLORING */
#bromineSquare, #mercurySquare, #coperniciumSquare {
    color: blue;
}
#hydrogenSquare, #heliumSquare, #nitrogenSquare, #oxygenSquare, #fluorineSquare, #neonSquare {
    color: red;
}
#chlorineSquare, #argonSquare, #kryptonSquare, #xenonSquare, #radonSquare, #fleroviumSquare {
    color: red;
}

/* ELEMENT DATA */
.elementData {
    display: flex;
    float: right;
    margin-right: 60px;
    font-size: 16px;
    font-family: arial;
    visibility: hidden;
}
.elementDataLabels > p, .elementDataInfo > p {
    border-width: 2px;
    border-style: solid;
    margin: 0px;
    padding: 2px;
}
.elementDataLabels {
    background-color: tan;
}
.elementDataInfo {
    background-color:darkgrey;
}




/* Navbar */
.navbar {
    overflow: hidden;
    background-color: #333;
}
/* Navbar Elements */
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Navbar dropdowns */
.dropdown {
    float: left;
    overflow: hidden;
}
/* Navbar dropdown elements */
.dropdown .dropdownLabel {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones? */
    margin: 0; /* Also important for same reasons? */
}
/* Change background color for dropdowns */
.navbar a:hover, .dropdown:hover .dropdownLabel {
    background-color: tan;
}
/* Dropdown Options */
.dropdownLinks {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownLinks a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Adds grey color on hover */
.dropdownLinks a:hover {
    background-color: #ddd;
}


/* On hover: display dropdown options */
.dropdown:hover .dropdownLinks {
    display: block;
}


