/* Gregory Ecklund */
/* August 2022 */

/* Multi-Table Stuff */
body {
    background-color: pink;
}
table {
    border-spacing: 0px;
}
.LABELS {
    font-weight: bold;
}
.TITLES {
    font-size: 20px;
    font-weight: 1000;
}
.BOTHCOLUMNS {
    display: flex;
}
.RIGHTCOLUMN {
    margin-left: 3%;
}

/* Metal Table */
.metalsTable > table > tbody > tr > td, .metalsTable > table > caption {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
    border-spacing: 0px;
    margin: 0px;
    text-align: center;
    background-color: lightgray;
}

/* Organic Substances Table */
.NAME {
    margin-bottom: 0px;
    color: red;
}
.FORMULA {
    margin-top: 0px;
    font-size: 70%;
    color: blue;
}
.organicSubstancesTable > table > tbody > tr > td, .organicSubstancesTable > table > caption {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
    border-spacing: 0px;
    margin: 0px;
    text-align: center;
    background-color :tan;
}

/* Inorganic Substances Table */
.inorganicSubstancesTable > table > caption, .inorganicSubstancesTable > table > tbody > tr > td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
    border-spacing: 0px;
    margin: 0px;
    text-align: center;
    background-color: lightyellow;
}

/* Polyatomics Table */
.polyatomicsTables {
    float: right;
    margin-right: 425px;
    margin-top: -1300px;
}
.polyatomicsTable > table > tbody > tr > td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
    border-spacing: 0px;
    margin: 0px;
    text-align: left;
    background-color: lightgreen;
}
.polyatomicsTable > table > caption {
    font-weight: 1000;
    font-size: 20px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding:2px;
    border-spacing: 0px;
    margin: 0px;
    background-color: lightgreen;
}

/* Strong Acids & Bases Tables */
.strongAcidsBasesTable {
    display: flex;
}
.strongBasesTable {
    margin-left: 20px;
}
.strongBasesTable > tbody > tr > td, .strongBasesTable > caption {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
    border-spacing: 0px;
    margin: 0px;
    text-align: center;
    background-color :lightskyblue;
}
.strongAcidsTable > tbody > tr > td, .strongAcidsTable > caption {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
    border-spacing: 0px;
    margin: 0px;
    text-align: center;
    background-color: indianred;
}

/* Hydrocarbons Table */
.hydrocarbonsTable > table > tbody > tr > td, .hydrocarbonsTable > table > caption {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 2px;
    border-spacing: 0px;
    margin: 0px;
    text-align: center;
    background-color:aquamarine;
}
