/* Gregory Ecklund */
/* August 2022 */

/* Background Color, Font, and Alignment */
body {
    background-color:powderblue;
    font-size: 32px;
    text-align: center;
}

/* Text Color */
#temperature, #totalAtomicMass, #gramsToGrams, #pvnrt, #solubility {
    color: red;
}
