/* Gregory Ecklund */
/* February 2023 */

/* Background Color */
body {
    background-color: aliceblue;
}

/* Table 1 */
.table1 > table {
    float: left;
    border-spacing: 0px;
}
.table1DATA {
    background-color: lime;
}

/* Table 2 */
.table2 > table {
    float: right;
    border-spacing: 0px;
}
.table2DATA {
    background-color: turquoise;
}
.answer {
    background-color: gold;
}

/* Both Tables */
.tables {
    display: flex;
}
.table1DATA, .table2DATA {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 0px;
    padding: 2px;
    text-align: center;
}
.tableTITLE {
    font-size: 30px;
    font-weight: bold;
}

/* Calculate Button */
#calculateButton {
    font-size: 20px;
    text-align: center;
}
.calculateButton {
    text-align: center;
}

/* All Clear Button */
#allClearButton {
    font-size: 15px;
}
.allClearButton {
    text-align: center;
}

/* Navbar */
.navbar {
    overflow: hidden;
    margin-bottom: 2%;
}
/* Navbar Elements */
.navbar a {
    float: left;
    text-decoration: none;
}
/* Navbar Dropdown Containers */
.dropdown {
    float: left;
    overflow: hidden;
}
/* Change Background Color on Hover */
.navbar a:hover, .dropdown:hover .dropdownLabel {
    background-color: lightgreen;
}
/* Dropdown Div */
.dropdownLinks {
    display: none;
    position: absolute;
}
/* Dropdown Options */
.dropdownLinks a {
    float: none;
    display: block;
}
/* Display Dropdown Options on Hover */
.dropdown:hover .dropdownLinks {
    display: block;
}
/* Background Color and Border */
.navbar a, .dropdownLabel {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: lightskyblue;
    padding: 15px;
    font-size: 16px;
    color: black;
    text-align: left;
}