/* Gregory Ecklund */
/* August 2022 */

/* BACKGROUND COLOR */
body {
    background-color: thistle;
}

/* ELEMENT NAMES */
.elementNames {
    display: inline-block;
    background-color:palegoldenrod;
}

/* ELEMENT INFO */
.elementInfo {
    display: inline-block;
    margin-right: 10px;
    background-color:palevioletred;
}

/* BOTH */
.elements {
    display: flex;
    margin-left: 40%;
}
.elementInfo > p, .elementNames > p {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 0px;
    padding: 5px;
}

/* SETTINGS */
.settings > label {
    display: inline-block;
    clear: left;
    width: 120px;
    text-align: left;
}
#orderSelect, #categorySelect {
    width: 200px;
}

/* Navbar */
.navbar {
    overflow: hidden;
    margin-bottom: 2%;
}
/* Navbar Elements */
.navbar a {
    float: left;
    text-decoration: none;
}
/* Navbar Dropdown Containers */
.dropdown {
    float: left;
    overflow: hidden;
}
/* Change Background Color on Hover */
.navbar a:hover, .dropdown:hover .dropdownLabel {
    background-color: lightgreen;
}
/* Dropdown Div */
.dropdownLinks {
    display: none;
    position: absolute;
}
/* Dropdown Options */
.dropdownLinks a {
    float: none;
    display: block;
}
/* Display Dropdown Options on Hover */
.dropdown:hover .dropdownLinks {
    display: block;
}
/* Background Color and Border */
.navbar a, .dropdownLabel {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: lightskyblue;
    padding: 15px;
    font-size: 16px;
    color: black;
    text-align: left;
}