/* Gregory Ecklund */
/* August 2022 */

/* BODY */
body {
    background-color: pink;
}

/* QUESTIONS */
.questions {
    text-align: center;
    color:black;
    font-weight: bolder;
    font-size: 34px;
    visibility: hidden;
}

/* START BUTTON */
.startButton {
    text-align: center;
}
.startButton > button {
    background-color: springgreen;
    padding: 14px;
    font-size: 18px;
}

/* RETRY BUTTON */
.retryButton {
    visibility: hidden;
    text-align: center;
}
.retryButton > button {
    background-color: rgba(90, 3, 252, 0.315);
    margin-top: -80px;
    font-size: 20px;
    padding: 14px;
}

/* ANSWER BUTTONS */
.answerButtons {
    visibility: hidden;
    text-align: center;
}
.answerButtons > button {
    background-color: orange;
    font-size: 50px;
    width: 8rem;
    height: 8rem;
    color: darkslategrey; 
}

/* TIMER */
.minutes {
    margin-top: -60px;
    display: flex;
    flex: right;
    visibility: hidden;
    text-align: right;
    font-size: large;
    font-weight: bolder;
    color: blue;
}
.seconds {
    display: flex;
    flex: left;
    visibility: hidden;
    text-align: right;
    font-size: large;
    font-weight: bolder;
    color: blue;
}

/* GIVE UP BUTTON */
.giveUp {
    float: right;
    visibility: hidden;
}
#giveUpButton {
    background-color: aquamarine;
    padding: 10px;
    font-size: 24px;
}

/* GAMEMODE OPTIONS */
.options {
    text-align: center;
}
#gamemode {
    padding: 5px;
}

/* Navbar */
.navbar {
    overflow: hidden;
    margin-bottom: 2%;
}
/* Navbar Elements */
.navbar a {
    float: left;
    text-decoration: none;
}
/* Navbar Dropdown Containers */
.dropdown {
    float: left;
    overflow: hidden;
}
/* Change Background Color on Hover */
.navbar a:hover, .dropdown:hover .dropdownLabel {
    background-color: lightgreen;
}
/* Dropdown Div */
.dropdownLinks {
    display: none;
    position: absolute;
}
/* Dropdown Options */
.dropdownLinks a {
    float: none;
    display: block;
}
/* Display Dropdown Options on Hover */
.dropdown:hover .dropdownLinks {
    display: block;
}
/* Background Color and Border */
.navbar a, .dropdownLabel {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: lightskyblue;
    padding: 15px;
    font-size: 16px;
    color: black;
    text-align: left;
}